<html>

<head>
	<title>Item Details</title>
	<style>
		html {
			background-color: #ccc;
		}

		body {
			font-family: 'Mulish';
			margin-left: auto;
			margin-right: auto;
			width: 600px;
			background-color: #fff;
			padding: 1em;
		}

		.square-brackets-quote {
			display: inline-block;
			margin: 1em;

			blockquote {
				border: solid 0.5em #ccc;
				border-radius: 8px;
				display: inline-block;
				margin: 0;
				padding: 0.5em;
				padding-left: 1em;
				position: relative;
				width: 520px;

			}
		}
	</style>
</head>

<body>
	{{ body | safe }}
</body>

</html>

python-poetry.md
rust-cargo-cli.md
